/* body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h2 {
    text-align: center;
}

form {
    width: 100%;
    margin: 1rem;
    align-self: center;
    justify-self: center;

}

input, label {
    margin: 1rem;
} */

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    font-family: "Roboto", sans-sherif;
}

.auth-main {
    width: 100%;
    max-width: 500px;
    padding: 2rem;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 1rem;
}


.auth-form {
    width: 100%;
    box-shadow: 5px 5px 10px 10px rgb(83, 83, 83);
    padding: 2rem;
}

input, label {
    margin: 0.5rem 0;
}

/* Riddle page */ 
.riddle-form {
    width: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-title {
    color: rgb(32, 103, 233);
}
p, .main-title {
    text-align: center;
}

.alert-danger, .btn-success {
    width: 100%;
    margin-top: 2rem;
}

input[type="number"] {
    border: 1px solid #ccc;
}

.riddle-form .card {
    box-shadow: 5px 5px 10px 10px rgb(83, 83, 83);
}
